.ProseMirror {
	position: relative;
}

.ProseMirror {
	word-wrap: break-word;
	white-space: pre-wrap;
	white-space: break-spaces;
	-webkit-font-variant-ligatures: none;
	font-variant-ligatures: none;
	font-feature-settings: 'liga' 0; /* the above doesn't seem to work in Edge */
}

.ProseMirror pre {
	white-space: pre-wrap;
}

.ProseMirror li {
	position: relative;
}

.ProseMirror-hideselection *::selection {
	background: transparent;
}
.ProseMirror-hideselection *::-moz-selection {
	background: transparent;
}
.ProseMirror-hideselection {
	caret-color: transparent;
}

/* See https://github.com/ProseMirror/prosemirror/issues/1421#issuecomment-1759320191 */
.ProseMirror [draggable][contenteditable='false'] {
	user-select: text;
}

.ProseMirror-selectednode {
	outline: 2px solid #8cf;
}

/* Make sure li selections wrap around markers */

li.ProseMirror-selectednode {
	outline: none;
}

li.ProseMirror-selectednode:after {
	content: '';
	position: absolute;
	left: -32px;
	right: -2px;
	top: -2px;
	bottom: -2px;
	border: 2px solid #8cf;
	pointer-events: none;
}

/* Protect against generic img rules */

img.ProseMirror-separator {
	display: inline !important;
	border: none !important;
	margin: 0 !important;
}
.ProseMirror-textblock-dropdown {
	min-width: 3em;
}

.ProseMirror-menu {
	margin: 0 -4px;
	line-height: 1;
}

.ProseMirror-tooltip .ProseMirror-menu {
	width: -webkit-fit-content;
	width: fit-content;
	white-space: pre;
}

.ProseMirror-menuitem {
	margin-right: 3px;
	display: inline-block;
}

.ProseMirror-menuseparator {
	border-right: 1px solid #ddd;
	margin-right: 3px;
}

.ProseMirror-menu-dropdown,
.ProseMirror-menu-dropdown-menu {
	font-size: 90%;
	white-space: nowrap;
}

.ProseMirror-menu-dropdown {
	vertical-align: 1px;
	cursor: pointer;
	position: relative;
	padding-right: 15px;
}

.ProseMirror-menu-dropdown-wrap {
	padding: 1px 0 1px 4px;
	display: inline-block;
	position: relative;
}

.ProseMirror-menu-dropdown:after {
	content: '';
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid currentColor;
	opacity: 0.6;
	position: absolute;
	right: 4px;
	top: calc(50% - 2px);
}

.ProseMirror-menu-dropdown-menu,
.ProseMirror-menu-submenu {
	position: absolute;
	background: white;
	color: #666;
	border: 1px solid #aaa;
	padding: 2px;
}

.ProseMirror-menu-dropdown-menu {
	z-index: 15;
	min-width: 6em;
}

.ProseMirror-menu-dropdown-item {
	cursor: pointer;
	padding: 2px 8px 2px 4px;
}

.ProseMirror-menu-dropdown-item:hover {
	background: #f2f2f2;
}

.ProseMirror-menu-submenu-wrap {
	position: relative;
	margin-right: -4px;
}

.ProseMirror-menu-submenu-label:after {
	content: '';
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid currentColor;
	opacity: 0.6;
	position: absolute;
	right: 4px;
	top: calc(50% - 4px);
}

.ProseMirror-menu-submenu {
	display: none;
	min-width: 4em;
	left: 100%;
	top: -3px;
}

.ProseMirror-menu-active {
	background: #eee;
	border-radius: 4px;
}

.ProseMirror-menu-disabled {
	opacity: 0.3;
}

.ProseMirror-menu-submenu-wrap:hover .ProseMirror-menu-submenu,
.ProseMirror-menu-submenu-wrap-active .ProseMirror-menu-submenu {
	display: block;
}

.ProseMirror-menubar {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	position: relative;
	min-height: 1em;
	color: #666;
	padding: 1px 6px;
	top: 0;
	left: 0;
	right: 0;
	border-bottom: 1px solid silver;
	background: white;
	z-index: 10;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: visible;
}

.ProseMirror-icon {
	display: inline-block;
	line-height: 0.8;
	vertical-align: -2px; /* Compensate for padding */
	padding: 2px 8px;
	cursor: pointer;
}

.ProseMirror-menu-disabled.ProseMirror-icon {
	cursor: default;
}

.ProseMirror-icon svg {
	fill: currentColor;
	height: 1em;
}

.ProseMirror-icon span {
	vertical-align: text-top;
}
.ProseMirror-gapcursor {
	display: none;
	pointer-events: none;
	position: absolute;
}

.ProseMirror-gapcursor:after {
	content: '';
	display: block;
	position: absolute;
	top: -2px;
	width: 20px;
	border-top: 1px solid black;
	animation: ProseMirror-cursor-blink 1.1s steps(2, start) infinite;
}

@keyframes ProseMirror-cursor-blink {
	to {
		visibility: hidden;
	}
}

.ProseMirror-focused .ProseMirror-gapcursor {
	display: block;
}
/* Add space around the hr to make clicking it easier */

.ProseMirror-example-setup-style hr {
	padding: 2px 10px;
	border: none;
	margin: 1em 0;
}

.ProseMirror-example-setup-style hr:after {
	content: '';
	display: block;
	height: 1px;
	background-color: silver;
	line-height: 2px;
}

.ProseMirror ul,
.ProseMirror ol {
	padding-left: 30px;
}

.ProseMirror blockquote {
	padding-left: 1em;
	border-left: 3px solid #eee;
	margin-left: 0;
	margin-right: 0;
}

.ProseMirror-example-setup-style img {
	cursor: default;
}

.ProseMirror-prompt {
	background: white;
	padding: 5px 10px 5px 15px;
	border: 1px solid silver;
	position: fixed;
	border-radius: 3px;
	z-index: 11;
	box-shadow: -0.5px 2px 5px rgba(0, 0, 0, 0.2);
}

.ProseMirror-prompt h5 {
	margin: 0;
	font-weight: normal;
	font-size: 100%;
	color: #444;
}

.ProseMirror-prompt input[type='text'],
.ProseMirror-prompt textarea {
	background: #eee;
	border: none;
	outline: none;
}

.ProseMirror-prompt input[type='text'] {
	padding: 0 4px;
}

.ProseMirror-prompt-close {
	position: absolute;
	left: 2px;
	top: 1px;
	color: #666;
	border: none;
	background: transparent;
	padding: 0;
}

.ProseMirror-prompt-close:after {
	content: '✕';
	font-size: 12px;
}

.ProseMirror-invalid {
	background: #ffc;
	border: 1px solid #cc7;
	border-radius: 4px;
	padding: 5px 10px;
	position: absolute;
	min-width: 10em;
}

.ProseMirror-prompt-buttons {
	margin-top: 5px;
	display: none;
}
#editor,
.editor {
	background: white;
	color: black;
	background-clip: padding-box;
	border-radius: 4px;
	border: 2px solid rgba(0, 0, 0, 0.2);
	padding: 5px 0;
	margin-bottom: 23px;
}

.dark.editor {
	background: black;
	color: white;
	background-clip: padding-box;
	border-radius: 4px;
	border: 2px solid rgba(0, 0, 0, 0.2);
	padding: 5px 0;
	margin-bottom: 23px;
}

.ProseMirror p:first-child,
.ProseMirror h1:first-child,
.ProseMirror h2:first-child,
.ProseMirror h3:first-child,
.ProseMirror h4:first-child,
.ProseMirror h5:first-child,
.ProseMirror h6:first-child {
	margin-top: 10px;
}

.ProseMirror {
	padding: 4px 8px 4px 14px;
	line-height: 1.2;
	outline: none;
}

.ProseMirror p {
	margin-bottom: 1em;
}

header,
article,
footer nav {
	max-width: 720px;
	margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: Merriweather;
	font-weight: 700;
}

h1 {
	font-size: 32px;
	line-height: 40px;
}

h2 {
	font-size: 26px;
	line-height: 33px;
	margin: 37px 0 12px;
}

h3 {
	font-size: 22px;
	line-height: 26px;
	margin: 26px 0 12px;
}

h4 {
	font-size: 18px;
	line-height: 22px;
	margin: 25px 0 12px;
}

a {
	text-decoration: none;
}

strong {
	font-weight: 600;
}

nav a:link,
nav a:visited,
a.blocklink:link,
a.blocklink:visited,
code a:link,
code a:visited,
h2 a:link,
h2 a:visited,
h3 a:link,
h3 a:visited,
h4 a:link,
h4 a:visited {
	color: inherit;
}

code,
pre {
	font-size: 14px;
}
h2 code,
h3 code {
	font-size: inherit;
}
pre {
	line-height: 22px;
	padding-left: 20px;
	overflow-x: auto;
}
pre > code {
	margin: 0;
}

a.blocklink:hover {
	color: #0045ff;
}

nav a.active,
a:link,
a:visited {
	color: #0045ff;
}

a.logo {
	padding-left: 45px;
	letter-spacing: -1.5px;
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="786.5" height="899.6" viewBox="0 0 208.1 238.0"><path d="M104 2A102 102 0 0 0 2 104a102 102 0 0 0 102 102 102 102 0 0 0 102-102A102 102 0 0 0 104 2zm0 14.9a87.1 87.1 0 0 1 87.1 87.1 87.1 87.1 0 0 1-87.1 87.1A87.1 87.1 0 0 1 16.9 104 87.1 87.1 0 0 1 104 16.9z"/><path d="M147.1 92.7c-6.9 83.9 10.8 103.4 10.8 103.4s-55.1 5.5-82.7-13.4c-30.5-20.9-26.0-67.5-25.9-94.6.1-28.4 25.6-45.8 49.9-45.3C128.3 43.3 149.4 64.4 147.1 92.7z"/><path d="M82.1 139.5c11.3 36.3 50.6 62.4 50.6 62.4l18.5-1.4z" fill="%23fff"/><path d="M82.1 139.5c3 13.3 17.9 29.9 30.4 41.6 24.8 23.2 42 22.4 86 54.7-18.2-51.8-18.8-62-43.5-106.1-24.7-44-67.6-20.3-67.6-20.3S79 126 82.1 139.3z"/><path d="M108.9 76.0s-4.0-11.6-18.0-11.5c-30.0.2-28.8 52.1 16.9 52.0 39.6-.1 39.2-49.4 16.1-49.6-10.2-.2-15.0 9.1-15.0 9.1z" fill="%23fff"/><path d="M109.4 95.0c10.8.0 2.0 14.9-.6 20.9-1.8-8.4-10.2-20.9.6-20.9zM93.1 80.1c-5.6 0-10.2 4.5-10.2 10.2 0 5.6 4.5 10.2 10.2 10.2 5.6 0 10.2-4.5 10.2-10.2 0-5.6-4.5-10.2-10.2-10.2zm30.5-.1c-4.8 0-8.8 4.5-8.8 10.2 0 5.6 3.9 10.2 8.8 10.2 4.8 0 8.8-4.5 8.8-10.2 0-5.6-3.9-10.2-8.8-10.2z"/></svg>');
	background-size: 32px;
	background-position: top 1px left;
	background-repeat: no-repeat;
	font-size: 34px;
	line-height: 37px;
}

.ProseMirror-selectednode {
	outline: 2px solid #8cf;
}

/* Make sure li selections wrap around markers */

li.ProseMirror-selectednode {
	outline: none;
}

li.ProseMirror-selectednode:after {
	content: '';
	position: absolute;
	left: -32px;
	right: -2px;
	top: -2px;
	bottom: -2px;
	border: 2px solid #8cf;
	pointer-events: none;
}

ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	padding-inline-start: 40px;
	unicode-bidi: isolate;
}

.cursor-widget {
	color: red;
	font-size: 16px;
	margin-left: 2px;
}

.todo-highlight {
	background-color: yellow;
}

.editor img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
	display: inline;
	vertical-align: bottom;
}
